{
  "openapi": "3.0.3",
  "info": {
    "title": "MGE API — role member (end-user)",
    "version": "1.2.0",
    "description": "# MGE API — role member\n\nAPI cho **end-user đăng nhập** (role `member`) của hệ học tập/cộng đồng MGE.\n\n## Quy ước chung\n- **Base URL:** `/api/v1` · **Header bắt buộc:** `X-Tenant-ID` · **Auth:** `Authorization: Bearer <JWT>`.\n- **Route pattern:** `/<resource>/action/<verb>`. Verb = getlist, get/:slug, create, update/:id, delete/:id + verb nghiệp vụ (join, approve, progress, like, follow…).\n- **Response envelope:** `{ message, statusCode, data, meta }`. Lỗi đọc chi tiết ở `data.message`.\n- **Response `data`** dựng theo `select` của policy: relation được embed thành object/array (vd `cover_image`, `category`, `created_by`), KHÔNG phải id thô.\n\n## Vai trò & route\n- **Admin (CMS)** dùng route CRUD cũ: `GET/POST /<resource>`, `GET/PUT /<resource>/:id`, `DELETE`. (Không nằm trong file này.)\n- **Member (app)** dùng route `/action/` trong file này.\n- **Guest (public)**: các action `getlist-public` / một số `get` — role guest, gọi KHÔNG cần token.\n\n## Header scope (QUAN TRỌNG)\nMột số endpoint yêu cầu quyền theo khóa/nhóm cụ thể → phải gửi header **`x_course_id`** hoặc **`x_group_id`** (dùng dấu **GẠCH DƯỚI**, không phải gạch ngang). Thiếu header → **403**. Các endpoint này được đánh dấu ⚠️ trong description + có parameter header tương ứng.\n\n## Nghiệp vụ nổi bật\n- **Tham gia khóa/nhóm** (`join`): public → `joined` ngay; private → `pending` (chờ duyệt). `user` lấy từ JWT.\n- **Duyệt** (`approve`): instructor/owner duyệt member pending → `joined` (cần `x_course_id`).\n- **Tiến độ học** (`progress`): ghi hoàn thành lesson/exam vào `course_user_progress`.\n- **Tương tác** (like/save/follow/rate/pin/…): ghi vào bảng junction, `user`/`created_by` từ JWT — KHÔNG cho phép ghi trực tiếp lên bảng junction."
  },
  "servers": [
    {
      "url": "https://mangox.mangoads.com.vn/api/v1"
    },
    {
      "url": "http://localhost:5500/api/v1"
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "TenantId": {
        "name": "X-Tenant-ID",
        "in": "header",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "ID tenant (mge). Bắt buộc mọi request."
      }
    }
  },
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/categories/action/get/{slug}": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "get — categories",
        "operationId": "categories__get",
        "description": "Chi tiết 1 bản ghi theo :slug.\n\n**Role:** member · **Auth:** KHÔNG cần token (public)",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "parent_id": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "parent_id": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "relation -> mge_categories"
                                }
                              },
                              "position": {
                                "type": "number"
                              },
                              "short_description": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "string"
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "tenant_id": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "locale_id": {
                                "type": "string"
                              },
                              "created_by": {
                                "type": "string"
                              },
                              "updated_by": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "position": {
                          "type": "number"
                        },
                        "short_description": {
                          "type": "string"
                        },
                        "featured_image": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "string"
                        },
                        "locale_id": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "updated_by": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/categories/action/getlist": {
      "get": {
        "tags": [
          "categories"
        ],
        "summary": "getlist — categories",
        "operationId": "categories__getlist",
        "description": "Lấy danh sách (có phân trang). Cần JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "từ khoá tìm kiếm"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vd -created_at"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "parent_id": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "parent_id": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "description": "relation -> mge_categories"
                                  }
                                },
                                "position": {
                                  "type": "number"
                                },
                                "short_description": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "string"
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "tenant_id": {
                                  "type": "string"
                                },
                                "locale": {
                                  "type": "string"
                                },
                                "locale_id": {
                                  "type": "string"
                                },
                                "created_by": {
                                  "type": "string"
                                },
                                "updated_by": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "position": {
                            "type": "number"
                          },
                          "short_description": {
                            "type": "string"
                          },
                          "featured_image": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "locale_id": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "updated_by": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/chapters/action/create": {
      "post": {
        "tags": [
          "chapters"
        ],
        "summary": "create-one — chapters",
        "operationId": "chapters__create-one",
        "description": "Tạo 1 bản ghi. Server tự gắn created_by = user trong JWT.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "position": {
                    "type": "number"
                  },
                  "course": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_courses"
                    }
                  }
                },
                "required": [
                  "title",
                  "course"
                ]
              }
            }
          }
        }
      }
    },
    "/chapters/action/delete/{id}": {
      "delete": {
        "tags": [
          "chapters"
        ],
        "summary": "delete-one — chapters",
        "operationId": "chapters__delete-one",
        "description": "Xoá 1 bản ghi theo :id.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/chapters/action/get/{slug}": {
      "get": {
        "tags": [
          "chapters"
        ],
        "summary": "get — chapters",
        "operationId": "chapters__get",
        "description": "Chi tiết 1 bản ghi theo :slug.\n\n**Role:** member · **Auth:** KHÔNG cần token (public)",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "slug": {
                          "type": "string"
                        },
                        "position": {
                          "type": "number"
                        },
                        "course": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "string"
                        },
                        "locale_id": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "updated_by": {
                          "type": "string"
                        },
                        "mangox_mge_lessons_chapters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "position": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "lesson_type": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "time_learning": {
                                "type": "string"
                              },
                              "video_url": {
                                "type": "string"
                              },
                              "video_file": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "mangox_mge_exams_chapters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "position": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "type": {
                                "type": "string"
                              },
                              "exam_type": {
                                "type": "string"
                              },
                              "is_final_exam": {
                                "type": "string"
                              },
                              "testing_time": {
                                "type": "string"
                              },
                              "minimum_passing_score": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/chapters/action/getlist": {
      "get": {
        "tags": [
          "chapters"
        ],
        "summary": "getlist — chapters",
        "operationId": "chapters__getlist",
        "description": "Lấy danh sách (có phân trang). Cần JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "từ khoá tìm kiếm"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vd -created_at"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "slug": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "course": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "locale_id": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "updated_by": {
                            "type": "string"
                          },
                          "mangox_mge_lessons_chapters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "lesson_type": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "time_learning": {
                                  "type": "string"
                                },
                                "video_url": {
                                  "type": "string"
                                },
                                "video_file": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "mangox_mge_exams_chapters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "string"
                                },
                                "status": {
                                  "type": "string"
                                },
                                "type": {
                                  "type": "string"
                                },
                                "exam_type": {
                                  "type": "string"
                                },
                                "is_final_exam": {
                                  "type": "string"
                                },
                                "testing_time": {
                                  "type": "string"
                                },
                                "minimum_passing_score": {
                                  "type": "string"
                                }
                              }
                            }
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/chapters/action/update/{id}": {
      "put": {
        "tags": [
          "chapters"
        ],
        "summary": "update-one — chapters",
        "operationId": "chapters__update-one",
        "description": "Cập nhật 1 bản ghi theo :id.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string"
                  },
                  "position": {
                    "type": "number"
                  },
                  "course": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_courses"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course_cart/action/get/{slug}": {
      "get": {
        "tags": [
          "course_cart"
        ],
        "summary": "get — course_cart",
        "operationId": "course_cart__get",
        "description": "Chi tiết 1 bản ghi theo :slug.\n\n**Role:** member · **Auth:** KHÔNG cần token (public)",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "user": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "course": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "string"
                        },
                        "locale_id": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "updated_by": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_cart/action/getlist": {
      "get": {
        "tags": [
          "course_cart"
        ],
        "summary": "getlist — course_cart",
        "operationId": "course_cart__getlist",
        "description": "Lấy danh sách (có phân trang). Cần JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "từ khoá tìm kiếm"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vd -created_at"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "user": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "course": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "locale_id": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "updated_by": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_content_item/action/create": {
      "post": {
        "tags": [
          "course_content_item"
        ],
        "summary": "create-one — course_content_item",
        "operationId": "course_content_item__create-one",
        "description": "Tạo 1 bản ghi. Server tự gắn created_by = user trong JWT.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "position": {
                    "type": "number"
                  },
                  "course": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_courses"
                    }
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Lesson",
                      "Exam"
                    ]
                  },
                  "chapters": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_chapters"
                    }
                  },
                  "lesson_type": {
                    "type": "string",
                    "enum": [
                      "Text",
                      "File",
                      "Video"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "Active"
                    ]
                  },
                  "time_learning": {
                    "type": "number"
                  },
                  "lesson_content": {
                    "type": "string"
                  },
                  "video_file": {
                    "type": "string"
                  },
                  "video_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course_content_item/action/delete/{id}": {
      "delete": {
        "tags": [
          "course_content_item"
        ],
        "summary": "delete-one — course_content_item",
        "operationId": "course_content_item__delete-one",
        "description": "Xoá 1 bản ghi theo :id.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_content_item/action/get/{slug}": {
      "get": {
        "tags": [
          "course_content_item"
        ],
        "summary": "get — course_content_item",
        "operationId": "course_content_item__get",
        "description": "Chi tiết 1 bản ghi theo :slug.\n\n**Role:** member · **Auth:** KHÔNG cần token (public)",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "position": {
                          "type": "number"
                        },
                        "course": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "slug": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "type": {
                          "type": "string",
                          "enum": [
                            "Lesson",
                            "Exam"
                          ]
                        },
                        "chapters": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "title": {
                                "type": "string"
                              },
                              "slug": {
                                "type": "string"
                              },
                              "position": {
                                "type": "number"
                              },
                              "course": {
                                "type": "array",
                                "items": {
                                  "type": "string",
                                  "description": "relation -> mge_courses"
                                }
                              },
                              "created_at": {
                                "type": "string"
                              },
                              "updated_at": {
                                "type": "string"
                              },
                              "tenant_id": {
                                "type": "string"
                              },
                              "locale": {
                                "type": "string"
                              },
                              "locale_id": {
                                "type": "string"
                              },
                              "created_by": {
                                "type": "string"
                              },
                              "updated_by": {
                                "type": "string"
                              }
                            }
                          }
                        },
                        "lesson_type": {
                          "type": "string",
                          "enum": [
                            "Text",
                            "File",
                            "Video"
                          ]
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "Active"
                          ]
                        },
                        "time_learning": {
                          "type": "number"
                        },
                        "lesson_content": {
                          "type": "string"
                        },
                        "video_file": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "video_url": {
                          "type": "string"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "string"
                        },
                        "locale_id": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "updated_by": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_content_item/action/getlist": {
      "get": {
        "tags": [
          "course_content_item"
        ],
        "summary": "getlist — course_content_item",
        "operationId": "course_content_item__getlist",
        "description": "Lấy danh sách (có phân trang). Cần JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "từ khoá tìm kiếm"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vd -created_at"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "position": {
                            "type": "number"
                          },
                          "course": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "slug": {
                            "type": "string"
                          },
                          "title": {
                            "type": "string"
                          },
                          "type": {
                            "type": "string",
                            "enum": [
                              "Lesson",
                              "Exam"
                            ]
                          },
                          "chapters": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "title": {
                                  "type": "string"
                                },
                                "slug": {
                                  "type": "string"
                                },
                                "position": {
                                  "type": "number"
                                },
                                "course": {
                                  "type": "array",
                                  "items": {
                                    "type": "string",
                                    "description": "relation -> mge_courses"
                                  }
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "tenant_id": {
                                  "type": "string"
                                },
                                "locale": {
                                  "type": "string"
                                },
                                "locale_id": {
                                  "type": "string"
                                },
                                "created_by": {
                                  "type": "string"
                                },
                                "updated_by": {
                                  "type": "string"
                                }
                              }
                            }
                          },
                          "lesson_type": {
                            "type": "string",
                            "enum": [
                              "Text",
                              "File",
                              "Video"
                            ]
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Active"
                            ]
                          },
                          "time_learning": {
                            "type": "number"
                          },
                          "lesson_content": {
                            "type": "string"
                          },
                          "video_file": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "video_url": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
                          },
                          "locale": {
                            "type": "string"
                          },
                          "locale_id": {
                            "type": "string"
                          },
                          "created_by": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "updated_by": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "last_page": {
                          "type": "integer"
                        },
                        "total": {
                          "type": "integer"
                        },
                        "hasMore": {
                          "type": "boolean"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_content_item/action/update/{id}": {
      "put": {
        "tags": [
          "course_content_item"
        ],
        "summary": "update-one — course_content_item",
        "operationId": "course_content_item__update-one",
        "description": "Cập nhật 1 bản ghi theo :id.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "position": {
                    "type": "number"
                  },
                  "course": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_courses"
                    }
                  },
                  "title": {
                    "type": "string"
                  },
                  "type": {
                    "type": "string",
                    "enum": [
                      "Lesson",
                      "Exam"
                    ]
                  },
                  "chapters": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_chapters"
                    }
                  },
                  "lesson_type": {
                    "type": "string",
                    "enum": [
                      "Text",
                      "File",
                      "Video"
                    ]
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "Active"
                    ]
                  },
                  "time_learning": {
                    "type": "number"
                  },
                  "lesson_content": {
                    "type": "string"
                  },
                  "video_file": {
                    "type": "string"
                  },
                  "video_url": {
                    "type": "string"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/course_member/action/approve/{id}": {
      "patch": {
        "tags": [
          "course_member"
        ],
        "summary": "approve — course_member",
        "operationId": "course_member__approve",
        "description": "DUYỆT thành viên đang pending → `joined`. Chỉ INSTRUCTOR/owner của khóa mới duyệt được (xác thực qua header `x_course_id` hoặc body.course). Chỉ đổi status.\n\n**Role:** member, admin · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.\n\n**Server tự set (KHÔNG gửi):** status=joined.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "course": {
                    "type": "string"
                  },
                  "user": {
                    "type": "string"
                  }
                },
                "required": [
                  "course"
                ]
              }
            }
          }
        }
      }
    },
    "/course_member/action/create": {
      "post": {
        "tags": [
          "course_member"
        ],
        "summary": "create-one — course_member",
        "operationId": "course_member__create-one",
        "description": "Tạo 1 bản ghi. Server tự gắn created_by = user trong JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "course": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_courses"
                    }
                  },
                  "user": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> user"
                    }
                  },
                  "status": {
                    "type": "string",
                    "enum": [
                      "Đã tham gia",
                      "Chờ duyệt"
                    ]
                  },
                  "role": {
                    "type": "string",
                    "enum": [
                      "Giảng viên",
                      "Trợ giảng",
                      "Học viên"
                    ]
                  },
                  "is_finished": {
                    "type": "boolean"
                  },
                  "pass_status": {
                    "type": "string",
                    "enum": [
                      "Hoàn thành sớm",
                      "Hoàn thành đúng hạn",
                      "Hoàn thành trễ",
                      "Chưa hoàn thành"
                    ]
                  },
                  "start_learning_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "end_learning_time": {
                    "type": "string",
                    "format": "date-time"
                  },
                  "course_role": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "description": "relation -> mge_course_role"
                    }
                  },
                  "permissions": {
                    "type": "object"
                  }
                },
                "required": [
                  "course"
                ]
              }
            }
          }
        }
      }
    },
    "/course_member/action/delete/{id}": {
      "delete": {
        "tags": [
          "course_member"
        ],
        "summary": "delete-one — course_member",
        "operationId": "course_member__delete-one",
        "description": "Xoá 1 bản ghi theo :id.\n\n**Role:** member · **Auth:** Bearer JWT\n\n⚠️ **Cần header `x_course_id`** (gạch dưới) = ID khóa, nếu không sẽ 403.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x_course_id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "ID khóa học — BẮT BUỘC để xác thực quyền (scope). Dùng dấu GẠCH DƯỚI."
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object"
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_member/action/get/{slug}": {
      "get": {
        "tags": [
          "course_member"
        ],
        "summary": "get — course_member",
        "operationId": "course_member__get",
        "description": "Chi tiết 1 bản ghi theo :slug.\n\n**Role:** member · **Auth:** KHÔNG cần token (public)",
        "security": [],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "slug",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "_id": {
                          "type": "string"
                        },
                        "course": {
                          "type": "array",
                          "items": {
                            "type": "object"
                          }
                        },
                        "user": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "status": {
                          "type": "string",
                          "enum": [
                            "Đã tham gia",
                            "Chờ duyệt"
                          ]
                        },
                        "role": {
                          "type": "string",
                          "enum": [
                            "Giảng viên",
                            "Trợ giảng",
                            "Học viên"
                          ]
                        },
                        "is_finished": {
                          "type": "boolean"
                        },
                        "pass_status": {
                          "type": "string",
                          "enum": [
                            "Hoàn thành sớm",
                            "Hoàn thành đúng hạn",
                            "Hoàn thành trễ",
                            "Chưa hoàn thành"
                          ]
                        },
                        "start_learning_time": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "end_learning_time": {
                          "type": "string",
                          "format": "date-time"
                        },
                        "course_role": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "description": "relation -> mge_course_role"
                          }
                        },
                        "permissions": {
                          "type": "object"
                        },
                        "created_at": {
                          "type": "string"
                        },
                        "updated_at": {
                          "type": "string"
                        },
                        "tenant_id": {
                          "type": "string"
                        },
                        "locale": {
                          "type": "string"
                        },
                        "locale_id": {
                          "type": "string"
                        },
                        "created_by": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "_id": {
                                "type": "string"
                              },
                              "username": {
                                "type": "string"
                              },
                              "full_name": {
                                "type": "string"
                              },
                              "nickname": {
                                "type": "string"
                              },
                              "featured_image": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          }
                        },
                        "updated_by": {
                          "type": "string"
                        }
                      }
                    },
                    "meta": {}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Body/param không hợp lệ (validation)."
          },
          "401": {
            "description": "Chưa xác thực (thiếu/invalid token)."
          },
          "403": {
            "description": "Không đủ quyền (policy không khớp role/scope) — thường do thiếu header scope hoặc không phải instructor/owner."
          }
        }
      }
    },
    "/course_member/action/getlist": {
      "get": {
        "tags": [
          "course_member"
        ],
        "summary": "getlist — course_member",
        "operationId": "course_member__getlist",
        "description": "Lấy danh sách (có phân trang). Cần JWT.\n\n**Role:** member · **Auth:** Bearer JWT",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/TenantId"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "q",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "từ khoá tìm kiếm"
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "vd -created_at"
          }
        ],
        "responses": {
          "200": {
            "description": "OK — data theo select của policy (relation embed thành object/array).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "statusCode": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "_id": {
                            "type": "string"
                          },
                          "course": {
                            "type": "array",
                            "items": {
                              "type": "object"
                            }
                          },
                          "user": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "_id": {
                                  "type": "string"
                                },
                                "username": {
                                  "type": "string"
                                },
                                "full_name": {
                                  "type": "string"
                                },
                                "nickname": {
                                  "type": "string"
                                },
                                "featured_image": {
                                  "type": "array",
                                  "items": {
                                    "type": "object"
                                  }
                                }
                              }
                            }
                          },
                          "status": {
                            "type": "string",
                            "enum": [
                              "Đã tham gia",
                              "Chờ duyệt"
                            ]
                          },
                          "role": {
                            "type": "string",
                            "enum": [
                              "Giảng viên",
                              "Trợ giảng",
                              "Học viên"
                            ]
                          },
                          "is_finished": {
                            "type": "boolean"
                          },
                          "pass_status": {
                            "type": "string",
                            "enum": [
                              "Hoàn thành sớm",
                              "Hoàn thành đúng hạn",
                              "Hoàn thành trễ",
                              "Chưa hoàn thành"
                            ]
                          },
                          "start_learning_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "end_learning_time": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "course_role": {
                            "type": "array",
                            "items": {
                              "type": "string",
                              "description": "relation -> mge_course_role"
                            }
                          },
                          "permissions": {
                            "type": "object"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "tenant_id": {
                            "type": "string"
[...]
